@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #1d1d24;
  color: #f4f4f5;
  overscroll-behavior: none;
}